//////////////////////////////
// SUB-MODULES: Component styles that are layout independent 
//////////////////////////////
[role="search"] {
  padding: 0;
  margin: 0;

  form {
    margin: 0 0 0 0;
  }

  fieldset {
    margin: 0;
    border: none;
  }

  .banner & label {
    @include element-invisible;
  }

  .search-contain {
    display: flex;
  }

  input[type="text"] {
    padding-left: .75em;

    // style placeholder text see '_header--search_mixins.scss' placeholder mixin
    @include input-placeholder {
      color: #ccc;
    }


    font-size: 1.1rem;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    margin: 0;
    height: 36px;
    border-right: none;
    flex: 1 1 80%;
  }

  input[type="submit"] {
    font-family: $icon-font-name;

    // Uses Blank Characters http://scottkellum.com/2013/10/25/the-new-kellum-method.html
    -webkit-border-radius: 0px 6px 6px 0;
    -moz-border-radius: 0px 6px 6px 0;
    border-radius: 0px 6px 6px 0;
    margin: 0;
    height: 36px;
    background-color: #efefef !important;
    background-image: none;
    flex: 1 0 36px;
  }
}

// style placeholder text see '_header--search_mixins.scss' placeholder mixin
.wf-droidsans-n4-active input[type="search"] {
  font-family: $heading-font-name, $header-font-family;
}

.banner [role="search"] {
  float: right;
  display: inline-block;
  width: 36%;
}

@include respond-to("full navigation") {
  .banner [role="search"] form {
    margin-top: 10px;
  }
}


@include respond-to("narrow navigation") {
  .banner [role="search"] {
    margin: 0;
    display: block;
    float: none;
    position: relative;
    width: auto;
    background-color: transparent;

    label {
      position: relative !important;
      height: 40px;
      width: 40px;
      text-align: center;
      padding-top: .6em;
      margin: 0 2%;
      display: block;
      float: right;

      @include background-image(linear-gradient(top, $body-background-color, $body-background-color));
      @include border-radius(5px);

      border: 1px solid;
      border-color: #ddd #bbb #999;

      span {
        display: none;
      }
    }

    fieldset {
      clear: both;
      border: none;
      margin: 0px 0 0 0;
      width: 100%;
      padding: 0px;
      position: relative;
      left: 0;
      top: 0px;
      height: 0;
      display: none;
    }

    .search-contain {
      padding: 10px;
      margin: 10px 0 0 0;
      background-color: nth($black, 5);

      @include box-shadow(inset nth($black, 4) 0px -2px 0px 0px, inset nth($black, 4) 0px 1px 0px 0px);
    }

    form.open {
      input[type="submit"] {
        height: 46px;

        //border: none;
        background: none;
        font-size: 1.5rem;
        padding: 0;
        width: auto;
        height: auto;
        margin-top: 0px;

        // padding: .5rem 0 0 .5rem;
        border-top-width: 2px;
        border-top-color: #999 !important;
        border-bottom-width: 1px;
        border-bottom-color: #c8c8c8 !important;
      }

      fieldset {
        height: 80px;
      }
    }

    input[name="search_block_form"] {
      height: 46px;
      width: 85%;
      padding: 8px 12px;
      font-size: 1.6rem;
      border-bottom-width: 1px;
      border-bottom-color: #c8c8c8 !important;

      &:focus {
        // -moz-box-shadow: none;
        // -webkit-box-shadow: none;
        // box-shadow: none;
        outline: none;
        border-color: none;

        // LMH put focus color here?
     
      }
    }

    input[type="submit"] {
      height: 2.5em;
      width: 2.5em;
      margin-top: 5px;
      -webkit-appearance: none;
    }

    fieldset[aria-hidden="true"] {
      width: 15%;
    }
  }
}


.search-results-input {
  input[type="text"] {
    width: 100%;
  }

  .form-type-textfield {
    flex: 0 0 22rem;
  }

  input[type="submit"] {
    flex: 1 0 36px;
    max-width: 70px;
  }

  .form-item-retain-filters {
    font-size: .8rem;
    width: auto;
    overflow: auto;
    margin-top: 5px;

    label {
      display: inline-block;
    }
  }
}