// thumb is for spoke teasers only
.thumb {
  float: left;
  margin-right: 10px;
  line-height: 1;
  box-shadow: inset 0px 0px 25px rgba(10, 10, 10, 0.2);
  background-size: 100%;
  background-size: cover;
  background-position-x: 0px;
  background-position-y: 0px;
  width: 120px;
  height: auto;
  max-width: 25%;
  a {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}



.node-spoke {
  &.node-teaser {
    padding: .8em 0;
    line-height: 1.5;
    margin: 0;
    .spoke-teaser-meta {
      @extend %clearfix;
    }
    &:last-child {
      border-bottom: none;
    }
    &.clearfix:after {
      clear: left;
    }
    .contextual-links-wrapper {
      /* the edit option cog breaks links in left floated aside otherwise */
      left: 0;
    }
    .field-name-author {
      font-size: .8em;
      font-family: $header-font-family;
    }

    .peoplelist {
      font-size: $spoke-teaser-meta-size;
      @include respond-to("not-mobile-lh") {
        float: left;
      }
    }

    time {
      padding: 0 5px 0 0;
      font-size: $spoke-teaser-meta-size;
      display: block;
      line-height: 1.5;

      @include respond-to("not-mobile-lh") {
        float: left;
        &::before {
          content: "|\00a0";
        }
      }
    }
    .comment-count {
      font-size: $spoke-teaser-meta-size;

      @include respond-to("not-mobile-lh") {
        float: left;
        &::before {
          content: "|";
        }
      }
      a:link,
      a:visited {
        color: #5a5a5a; //font-size: .8rem;
      }
    }
  }
  &.view-mode-full {
    .field-name-field-attached-images {
      float: left;
      margin-right: 10px;
    }
    .field-name-field-body {
      margin: .5rem 0 0 0;
      line-height: 1.5;
      clear: left;
    }
  }
}

.spoke-title {
  font-size: 1.1rem;
  margin-top: -.1rem;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.25;
  a:link,
  a:visited {
    color: nth($black, 1) !important;
  }
}




.peoplelist {
  font-size: .85rem;
  color: nth($black, 2);
  line-height: 1.5;
  padding-right: 5px;
  span {
    &.l {
      &::after {
        content: "";
      }
    }
  }
  .h-card {
    white-space: nowrap;
    display: inline-block;
    &::after {
      content: ",\20";
    }
    &:last-child::after {
      content: "";
    }
  }
  .field-label {
    display: inline-block;
    padding-right: .2rem; // font-size: 0.85rem;
  }
  a:link,
  a:active,
  a:visited {
    color: nth($black, 2) !important;
  }
  .label {
    float: left;
    margin-right: 5px;
  }
}