$breakpoint-no-query-fallbacks: false;

// Projects
$map: (mc: #196195, fieldguide: #8b6800, tne: #1db7b7, imr: #b9480f, int: #782A71, alt: #be1e2d);
$black-value: #333333;
$black: tint-stack($black-value);
$type-color-value: #232323;
$type-color: tint-stack($type-color-value);
$body-color: #333333;

$mcpress-color: #659e42;
$mcpress-color-darker: #225a00;
$fg-color: #d7a100;
$fg-color-darker: #826001;
$fieldguide-primary: #8b6800;
$hometoprightcolor: #E7EEF3;

@each $header, $col in $map {
  $primary-color: $col !global;
  $cs-primary: $primary-color !global;

  // Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
  $cs-scheme: triad !global;

  // Options: mono, complement, triad, tetrad, analogic, accented-analogic
  $cs-hue-offset: 20 !global;

  // Options: 0-100;
  $cs-brightness-offset: 0 !global;

  // Options: 0-100;
  $cs-color-model: ryb !global;
  $primary: tint-stack(cs-primary()) !global;
  $secondary: tint-stack(cs-secondary()) !global;
  $tertiary: tint-stack(cs-tertiary()) !global;
  $quadrary: tint-stack(cs-quadrary()) !global;
  $node-class: ".node-#{$header}";

  #{$node-class} {
    border-top: 4px solid $col;

    .field-name-field-project {
      background-color: shade($col, 20%);
    }

    $spoke-default-thumb: "../images/spoke-default-#{$header}.svg";

    &.node-spoke.node-teaser .thumb {
      background-image: url($spoke-default-thumb);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-x: 0px;
      background-position-y: 0px;
      box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
    }

    // style placeholder text see '_header--search_mixins.scss' placeholder mixin
 
  }

  .#{$header} {
    $spoke-default-thumb: "../images/spoke-default-#{$header}.svg";

    .node-spoke.node-teaser .thumb {
      background-image: url($spoke-default-thumb);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-x: 0px;
      background-position-y: 0px;
      box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
      box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
    }
  }

  body.#{$header} {
    .featured-more {
      border-top: 2px solid $col;

      .blockheader div {
        color: white;
        background-color: $col;
      }
    }

    .view-list-of-all-hubs {
      .view-filters {
        text-align: right;

        .views-exposed-widgets {
          border-bottom: 4px solid nth($primary, 1);
        }
      }

      .node-hub.node-teaser {
        border-bottom: 4px solid nth($primary-color, 1);

        &:last-child {
          border-bottom: none;
        }
      }
    }

    a:link,
    a:visited {
      color: $col;
    }

    a:hover,
    a:focus {
      color: darken($col, 10%);
      text-decoration: underline;
    }

    a:active {
      color: darken($col, 20%);
    }

    nav.main ul.main {
      li {
        font-size: .9em;
      }
    }

    nav.global {
      box-shadow: 0px 3px lighten($col, 20%);
      border-bottom: 3px solid $col;
    }

    footer#footer {
      border-top: 3px solid lighten($col, 9%);
      box-shadow: 0px -3px lighten($col, 15%);
    }

    .comments#comments {
      border-color: lighten($col, 9%);
    }

    aside {
      .block {
        background-color: lighten(nth($tertiary, 5), 3%);
      }

      header {
        background-color: nth($tertiary, 4);
      }
    }

    input[type="search"],
    input[name="search_block_form"] {
      @include input-placeholder {
        color: nth($black, 4);
      }
    }
 
  }
}

.featured-item-list .featured-item {
  padding-bottom: 10px;
}

.featuredhub-info {
  max-width: 88%;

  // left: 20px;
  time {
    color: #444 !important;
    margin: 5px 0 2px; 
  }

  h2 {
    padding: 0 0 8px 0;

    a {
      color: #222 !important;
    }

    font-size: 18px;
    line-height: 1.25;
  }
}

.field-name-field-project {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: inline-block;
  float: left;
  padding: 2px 13px 2px;
  text-transform: uppercase;
  font-size: .85rem;
  line-height: 1.3;
  color: #ffffff !important;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #ffffff !important;
  }
}