ul.tags {
  padding: 0;
  margin-top: .5em;
  li {
    //  font-family: $header-font-family;
    display: inline-block;
    list-style-type: none;
    margin: 5px 7px 5px 0;
    a {
      display: inline-block;
      padding: 0px 5px;
      background-color: lighten(nth($black, 5), 7%);
      border: 1px solid nth($black, 5);
      font-size: .85rem;
    }
  }
}

.taxonomy-group {
  .view-content a {
    display: inline-block;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid white;
    margin-bottom: 7px;
    font-size: .85rem;
    &.active {
      //  color: #666;
      // border: 1px solid #ccc;
      &:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

.tags-block-spoke {
  margin-top: 2em;
  h2 {
    color: nth($black, 2);
    margin: 0;
    font-size: 18px;
    font-size: 1.5rem;
  }
}
/* at the bottom of spoke pages or also hub pages */

.spoke-body div.tags {
  padding-top: 10px;
  .label-inline {
    display: none;
  }
}


/* taxonomy page */

.page-taxonomy {
  article h2.block-title {
    margin-bottom: 2rem;
  }
  .term-listing-heading {
    .page-title,
    .label-inline {
      display: inline-block;
      @include type-size($h1-font-size, $h1-line-height);
      margin-top: 0;
      color: $h1-color;
    }
  }
}