//////////////////////////////
// VARIABLES: For Modules  
//////////////////////////////

//$globalnav-height: 0.875rem * 2.2;
// not sure what MR was thinking, above
$globalnav-height: 2.4rem;
$globalnav-background-gradient-start: darken(nth($mc-blue, 1), 3%);
$globalnav-background-gradient-end: darken(nth($mc-blue, 1), 9%);

$globalnav-top-pad: 0.3rem;