nav.global {
  // Utilities -- login, user preferences
  li.utils {
    position: absolute;
    overflow: visible;
    right: 0;
    padding: 0;
    color: nth($black, 4);
    margin-right: .5em;
    [aria-haspopup="true"] > a {
      @include border-radius(5px);
      &.open {
        @include border-bottom-radius(0px);
        padding-bottom: 2em;
        @include background-image(linear-gradient(top, $globalnav-background-gradient-end, $globalnav-background-gradient-end));
        background-image: none;
        z-index: 200;
        border-bottom: none;
        height: 3.6em;
      }
    }
    a.login-link {
      padding: .7em 1em 0 .5em;
    }
    &.register {
      right: 4.4em;
      a {
        padding: .7em .5rem 0 1em;
        background: url('../images/verticalline.png');
        background-repeat: no-repeat;
        background-position: right 1em;
      }
    }
    &.logged-in {
      li {
        padding: 0px;
        a {
          padding: 10px;
          min-width: 14em;
          &:hover {
            text-decoration: none;
          }
          &:link,
          &:visited {
            text-decoration: none;
          }
        }
      }
      ul a:hover {
        text-decoration: underline;
      }
      li.first {
        padding-top: 10px;
      }
    }
    > ul {
      position: absolute;
      z-index: 100;
      @include background-image(linear-gradient(top, $globalnav-background-gradient-end, $globalnav-background-gradient-end));
      @include border-bottom-left-radius(5px);
      @include border-bottom-right-radius(5px);
      right: 1.5em;
      top: $globalnav-height;
    
      > li {
        padding-top: 20px;
        > a {
          padding: 0.3em 0.5em;
          display: block;
        }
        float: none;
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        vertical-align: middle;
        max-width: 300px;
        text-indent: 0em;
        form {
          font-size: .875em;
          margin: 1.5em 1em;
          input[type="text"],
          input[type="password"] {
            width: 250px;
            display: block;
            margin: 0 0 1em 0;
          }
          .description {
            display: none;
            white-space: normal;
            font-size: .875em;
            line-height: 1.2em;
          }
          label {
            display: none;
          }
          input[type="submit"]  {
            float: right;
          }
          .button-link {
            line-height: 1.2em;
            padding-top: 10px;
          }
        }
      }
    }
  }
  @include respond-to("narrow navigation") {
    li.utils {
      width: auto;
      height: $globalnav-height;
      display: block;
      clear: none;
      position: absolute;
      z-index: 15;
      float: right;
      padding-right: 0;
      a.login-link {
        height: $globalnav-height;
        display: block;
      }
      ul {
        right: 0;
        top: $globalnav-height;
        li {
          // padding: 0;
          a {
            padding: .4em 1em;
            display: block;
          }
        }
      }
    }
  }
}