//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$inline-fonts: false; 
$font-weight: normal !default;
$font-style: normal !default;

$body-font-name: 'Open Sans';
$body-bold-font-name: $body-font-name;
$body-italic-font-name: $body-font-name;
$body-bold-italic-font-name: $body-font-name;

$heading-font-name: 'Open Sans';
$heading-bold-font-name: $heading-font-name;
