//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////
.skip-to-nav {
  @include respond-to("full navigation") {
    @include element-invisible;
  }
}

footer#footer {
  @extend %clearfix;

  // https://github.com/team-sass/toolkit#clearfix
  width: 94.5%;
  max-width: 64rem;
  margin: 3em auto 0;

  @include respond-to("mobile tablet") {
    padding: 20px 0;
    width: 100%;
  }


  @include respond-to("desktop-lh") {}
}

html {
  @include respond-to("desktop content") {
    @include type-size($body-font-size);

    // 16px
  }


  @include respond-to("extra wide content") {
    @include type-size($body-font-size + 1);

    // 17px
  }


  @include respond-to("wide content") {
    @include type-size($body-font-size + 1);

    // 18px
  }


  @include respond-to("medium wide content") {
    @include type-size($body-font-size - 1);

    // 15px
  }


  @include respond-to("medium content") {
    @include type-size($body-font-size - 1);

    // 15px
  }


  @include respond-to("medium only content") {
    @include type-size($body-font-size - 1);

    // 15px
  }


  @include respond-to("narrow content") {
    @include type-size($body-font-size - 1);

    // 15px
  }


  @include respond-to("mobile content") {
    @include type-size($body-font-size - 1);

    // 15px
  }
}

body {
  @include respond-to("desktop content") {
    @include type-size(1rem, $body-line-height);

    // 16px/1.5em
  }


  @include respond-to("extra wide content") {
    @include type-size(1rem, $body-line-height + 0);

    // 21px/1.7em
  }


  @include respond-to("wide content") {
    @include type-size(1rem, $body-line-height + 0.16666);

    // 18px/1.6666em
  }


  @include respond-to("medium wide content") {
    @include type-size(1rem, $body-line-height - 0.1);

    // 15px/1.4em
  }


  @include respond-to("medium content") {
    @include type-size(1rem, $body-line-height - 0.1);

    // 14px/1.4em
  }


  @include respond-to("medium only content") {
    @include type-size(1rem, $body-line-height - 0.1);

    // 14px/1.4em
  }


  @include respond-to("narrow content") {
    @include type-size(1rem, $body-line-height - 0.1);

    // 13px/1.4em
  }


  @include respond-to("mobile content") {
    @include type-size(1rem, $body-line-height - 0.16666);

    // 12px/1.333em
  }
}

main {
  @extend %clearfix;
  margin: 1em auto 0;
  width: 94.5%;
  max-width: 64rem;

  @include respond-to("mobile tablet") {
    // padding: 0 3%;
    width: 94%;
  }


  @include respond-to("desktop-lh") {
    margin: 3em auto 0;
  }
}

aside {
  float: none;
  width: 100%;
  clear: left;
  margin-top: 100px;

  @include respond-to("wide") {
    width: 31.5%;
    margin-top: 0;

    // width of the side content - see modular scale notes in base/typography/_typography_variables
    float: right;
    clear: none;

    ul[role="menu"] {
      li {
        > a:first-child {
          width: 25%;
        }

        > h3 {
          width: 75%;
        }
      }
    }
  }
}

#content {
  // width of the optimal line measure - see modular scale notes in base/typography/_typography_variables
  float: none;
  width: 100%;

  // background-color: purple;
  @include respond-to("wide") {
    float: left;
    width: 66%;

    // background-color: blue;
    max-width: ms(17);
  }


  h1.page-title {
    margin-bottom: .5rem;
  }
}

.messages {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  line-height: 1.6;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.03);

  &.status {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.03);
  }

  &.error {
    border-color: #FF00FF;
    background-color: rgba(255, 0, 255, 0.03);
  }
}

.spoke {
  @extend %clearfix;

  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  float: none;

  .spoke-body,
  section.curators-note {
    width: 100%;
    margin: 0;

    @include respond-to("wide") {
      max-width: ms(14);
      width: 60%;

      // width of the optimal line measure - see modular scale notes in base/typography/_typography_variables
      float: left;
      margin: 0;
    }
  }
}